<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{188, 187}, {138, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{138, 138}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{636, 816}, {138, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{184, 183}, {146, 146}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{146, 146}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 816}, {146, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 138}, {348, 356}}</string>
			<key>spriteOffset</key>
			<string>{-61, -60}</string>
			<key>spriteSize</key>
			<string>{348, 356}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 988}, {348, 356}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 84}, {404, 410}}</string>
			<key>spriteOffset</key>
			<string>{-33, -33}</string>
			<key>spriteSize</key>
			<string>{404, 410}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 988}, {404, 410}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {486, 486}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{486, 486}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 500}, {486, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {494, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{494, 496}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1494, 0}, {494, 496}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {496, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{496, 496}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1494, 498}, {496, 496}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {496, 498}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{496, 498}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {496, 498}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {496, 498}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{496, 498}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{996, 0}, {496, 498}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {496, 498}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{496, 498}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 0}, {496, 498}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{131, 126}, {266, 252}}</string>
			<key>spriteOffset</key>
			<string>{8, 4}</string>
			<key>spriteSize</key>
			<string>{266, 252}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1024, 1312}, {266, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{131, 126}, {266, 252}}</string>
			<key>spriteOffset</key>
			<string>{8, 4}</string>
			<key>spriteSize</key>
			<string>{266, 252}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1400}, {266, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{131, 126}, {266, 252}}</string>
			<key>spriteOffset</key>
			<string>{8, 4}</string>
			<key>spriteSize</key>
			<string>{266, 252}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 1588}, {266, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{131, 126}, {266, 252}}</string>
			<key>spriteOffset</key>
			<string>{8, 4}</string>
			<key>spriteSize</key>
			<string>{266, 252}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1024, 1566}, {266, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{131, 126}, {266, 252}}</string>
			<key>spriteOffset</key>
			<string>{8, 4}</string>
			<key>spriteSize</key>
			<string>{266, 252}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 1600}, {266, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{131, 126}, {266, 252}}</string>
			<key>spriteOffset</key>
			<string>{8, 4}</string>
			<key>spriteSize</key>
			<string>{266, 252}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 1346}, {266, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 102}, {266, 314}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{266, 314}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 1272}, {266, 314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 102}, {266, 314}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{266, 314}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1024, 996}, {266, 314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 102}, {266, 314}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{266, 314}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 956}, {266, 314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 102}, {266, 314}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{266, 314}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 500}, {266, 314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 102}, {266, 314}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{266, 314}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1024, 500}, {266, 314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 102}, {266, 314}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{266, 314}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 500}, {266, 314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{153, 122}, {210, 274}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{210, 274}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1654}, {210, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{153, 122}, {210, 274}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{210, 274}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1504, 996}, {210, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{153, 122}, {210, 274}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{210, 274}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1504, 1272}, {210, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{153, 122}, {210, 274}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{210, 274}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1292, 996}, {210, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{153, 122}, {210, 274}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{210, 274}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1292, 1548}, {210, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{153, 122}, {210, 274}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{210, 274}</string>
			<key>spriteSourceSize</key>
			<string>{512, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1292, 1272}, {210, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>fxMagicCircle-hd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>