<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aga.mine.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.aga.mine.main.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/pmines_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aga.mine.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aga.mine.main.Daily"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.aga.mine.main.PopupActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" 
            android:label="" >
        </activity>
        
        <activity
            android:name="com.blundell.tutorial.simpleinappbillingv3.ui.StartUpActivity"
            android:label="" >
        </activity>
        <activity
            android:name="com.blundell.tutorial.simpleinappbillingv3.ui.MainActivity"
            android:label="" >
        </activity>
        <activity
            android:name="com.blundell.tutorial.simpleinappbillingv3.ui.PurchasePassportActivity"
            android:label="" >
        </activity>
    </application>

</manifest>
