<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>blue01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 37}, {46, 66}}</string>
			<key>spriteOffset</key>
			<string>{4, 26}</string>
			<key>spriteSize</key>
			<string>{46, 66}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 258}, {46, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 53}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{4, 17}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 258}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 63}, {46, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, 10}</string>
			<key>spriteSize</key>
			<string>{46, 46}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 258}, {46, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 67}, {46, 42}}</string>
			<key>spriteOffset</key>
			<string>{4, 8}</string>
			<key>spriteSize</key>
			<string>{46, 42}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{624, 258}, {46, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 63}, {46, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, 10}</string>
			<key>spriteSize</key>
			<string>{46, 46}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 258}, {46, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 53}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{4, 17}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 258}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 63}, {46, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, 10}</string>
			<key>spriteSize</key>
			<string>{46, 46}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 258}, {46, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 67}, {46, 42}}</string>
			<key>spriteOffset</key>
			<string>{4, 8}</string>
			<key>spriteSize</key>
			<string>{46, 42}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 258}, {46, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 74}, {142, 100}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{142, 100}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 258}, {142, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 24}, {188, 198}}</string>
			<key>spriteOffset</key>
			<string>{-5, 5}</string>
			<key>spriteSize</key>
			<string>{188, 198}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 200}, {188, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 0}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 0}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 24}, {188, 198}}</string>
			<key>spriteOffset</key>
			<string>{-5, 5}</string>
			<key>spriteSize</key>
			<string>{188, 198}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 0}, {188, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>item07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 74}, {142, 100}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{142, 100}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 258}, {142, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 38}, {48, 64}}</string>
			<key>spriteOffset</key>
			<string>{5, 26}</string>
			<key>spriteSize</key>
			<string>{48, 64}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 0}, {48, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 52}, {48, 52}}</string>
			<key>spriteOffset</key>
			<string>{5, 18}</string>
			<key>spriteSize</key>
			<string>{48, 52}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 120}, {48, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 63}, {48, 46}}</string>
			<key>spriteOffset</key>
			<string>{5, 10}</string>
			<key>spriteSize</key>
			<string>{48, 46}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 270}, {48, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 67}, {48, 42}}</string>
			<key>spriteOffset</key>
			<string>{5, 8}</string>
			<key>spriteSize</key>
			<string>{48, 42}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 318}, {48, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 63}, {48, 46}}</string>
			<key>spriteOffset</key>
			<string>{5, 10}</string>
			<key>spriteSize</key>
			<string>{48, 46}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 222}, {48, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 52}, {48, 52}}</string>
			<key>spriteOffset</key>
			<string>{5, 18}</string>
			<key>spriteSize</key>
			<string>{48, 52}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 66}, {48, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 63}, {48, 46}}</string>
			<key>spriteOffset</key>
			<string>{5, 10}</string>
			<key>spriteSize</key>
			<string>{48, 46}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 174}, {48, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{77, 67}, {48, 42}}</string>
			<key>spriteOffset</key>
			<string>{5, 8}</string>
			<key>spriteSize</key>
			<string>{48, 42}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 362}, {48, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>fxMushroomItem-hd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>