<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 34}, {132, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{132, 128}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 0}, {132, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 39}, {116, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{116, 116}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 377}, {116, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 38}, {114, 118}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{114, 118}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 258}, {114, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 30}, {114, 126}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{114, 126}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 132}, {114, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 31}, {142, 132}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{142, 132}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {142, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 38}, {128, 118}}</string>
			<key>spriteOffset</key>
			<string>{8, -1}</string>
			<key>spriteSize</key>
			<string>{128, 118}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 0}, {128, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 31}, {124, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{124, 132}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 119}, {124, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 31}, {124, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{124, 132}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 130}, {124, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 46}, {108, 108}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{108, 108}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 251}, {108, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 48}, {86, 106}}</string>
			<key>spriteOffset</key>
			<string>{-5, -5}</string>
			<key>spriteSize</key>
			<string>{86, 106}</string>
			<key>spriteSourceSize</key>
			<string>{192, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{407, 0}, {86, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>fxTakeSphere.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>