<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>B-WizardAction-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {130, 134}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{130, 134}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 0}, {130, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B-WizardAction-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 32}, {118, 106}}</string>
			<key>spriteOffset</key>
			<string>{1, -16}</string>
			<key>spriteSize</key>
			<string>{118, 106}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 279}, {118, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B-WizardAngle-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 30}, {114, 108}}</string>
			<key>spriteOffset</key>
			<string>{6, -15}</string>
			<key>spriteSize</key>
			<string>{114, 108}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 108}, {114, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B-WizardAngle-135.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 28}, {118, 84}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{118, 84}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 475}, {118, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B-WizardAngle-180.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 29}, {116, 92}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{116, 92}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 92}, {116, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B-WizardAngle-225.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 31}, {120, 80}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{120, 80}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 434}, {120, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B-WizardAngle-270.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 31}, {132, 78}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{132, 78}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 356}, {132, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B-WizardAngle-315.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 34}, {122, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -10}</string>
			<key>spriteSize</key>
			<string>{122, 90}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 295}, {122, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B-WizardAngle-45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 31}, {136, 94}}</string>
			<key>spriteOffset</key>
			<string>{-4, -9}</string>
			<key>spriteSize</key>
			<string>{136, 94}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 259}, {136, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B-WizardAngle-90.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 29}, {140, 80}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 80}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {140, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R-WizardAction-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {130, 134}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{130, 134}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 139}, {130, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R-WizardAction-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 32}, {118, 106}}</string>
			<key>spriteOffset</key>
			<string>{1, -16}</string>
			<key>spriteSize</key>
			<string>{118, 106}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{255, 279}, {118, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R-WizardAngle-0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 30}, {114, 108}}</string>
			<key>spriteOffset</key>
			<string>{6, -15}</string>
			<key>spriteSize</key>
			<string>{114, 108}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 0}, {114, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R-WizardAngle-135.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 28}, {118, 84}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{118, 84}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 389}, {118, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R-WizardAngle-180.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 29}, {116, 92}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{116, 92}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 0}, {116, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R-WizardAngle-225.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 31}, {120, 80}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{120, 80}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 434}, {120, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R-WizardAngle-270.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 31}, {132, 78}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{132, 78}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 217}, {132, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R-WizardAngle-315.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 34}, {122, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -10}</string>
			<key>spriteSize</key>
			<string>{122, 90}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 387}, {122, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R-WizardAngle-45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 31}, {136, 94}}</string>
			<key>spriteOffset</key>
			<string>{-4, -9}</string>
			<key>spriteSize</key>
			<string>{136, 94}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 163}, {136, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>R-WizardAngle-90.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 29}, {140, 80}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 80}</string>
			<key>spriteSourceSize</key>
			<string>{150, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 81}, {140, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>magician.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>