<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>cloud01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 14}, {58, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{58, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{263, 158}, {58, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 14}, {58, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{58, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 0}, {58, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 14}, {58, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{58, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{203, 169}, {58, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 14}, {58, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{58, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 109}, {58, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 14}, {58, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{58, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{267, 54}, {58, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {62, 58}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{62, 58}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 59}, {62, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {62, 58}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{62, 58}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{47, 182}, {62, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {62, 58}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{62, 58}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{47, 123}, {62, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {62, 58}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{62, 58}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{47, 63}, {62, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>divine05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {62, 58}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{62, 58}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 0}, {62, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 5}, {46, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{46, 62}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 190}, {46, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 5}, {46, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{46, 62}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {46, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 5}, {46, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{46, 62}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{47, 0}, {46, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 5}, {46, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{46, 62}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 63}, {46, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>earth05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 5}, {46, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{46, 62}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 127}, {46, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fire01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {46, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{46, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 49}, {46, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fire02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {46, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{46, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 0}, {46, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fire03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {46, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{46, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 104}, {46, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fire04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {46, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{46, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 203}, {46, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fire05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {46, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{46, 48}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 153}, {46, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 14}, {40, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{40, 56}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 119}, {40, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 14}, {40, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{40, 56}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 176}, {40, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 14}, {40, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{40, 56}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 57}, {40, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 14}, {40, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{40, 56}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{153, 119}, {40, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mirror05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 14}, {40, 56}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{40, 56}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{159, 0}, {40, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wind01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {48, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{48, 54}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{153, 176}, {48, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wind02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {48, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{48, 54}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 54}, {48, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wind03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {48, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{48, 54}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 0}, {48, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wind04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {48, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{48, 54}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 0}, {48, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wind05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {48, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{48, 54}</string>
			<key>spriteSourceSize</key>
			<string>{74, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 115}, {48, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled 2</string>
		<key>textureFileName</key>
		<string>fxTakeSphereButtonT2.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>